# Virtual Environments
.venv/
venv/
backend/.venv/

# Python caches
__pycache__/
*.pyc

# OS
.DS_Store

# Env files
.env
# Model files (too large for git)
*.safetensors

# Training outputs
output/
logs/
test_outputs/
outputs_gui/

# Dataset files
prepared_images/
raw_images/
*.zip

# Notebook checkpoints
.ipynb_checkpoints/